@import url('https://fonts.googleapis.com/css2?family=Yaldevi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@200&display=swap');

*{
    padding:0;
    margin:0;
    text-decoration: none;
    box-sizing:border-box;
}

.max-width{
    max-width: 1280px;
    padding:25px 40px;
    margin:auto;
}


.cityName{
    text-transform: capitalize;
}

.contentblock{
    display: block;
    align-items: center;
}

.title{
font-family: 'Yaldevi', sans-serif;
font-size: 25px;
font-weight: 250;
text-align: center;
margin:2.5% 16%;
}

.weatherContainter{
    font-family: 'Yaldevi', sans-serif;
    font-size: 22px;
    font-weight: 420;
        text-align: center;
        margin:25px;
        
}

.weatherContainter .icon{
    height: 125px;;
    width: 125px;;
    object-fit: cover;
    align-items: center;
         margin-top:22px;
         margin-bottom:16px;
}

.temperature{
    display:inline-flex;
}

.description{
    font-family: 'Yaldevi', sans-serif;
    font-weight: 3  50;
    text-align: center; 
    margin-top:22px; 
    margin-bottom: 22px;;
    text-transform: capitalize;
}
.weather{
font-family: 'Yaldevi', sans-serif;
font-weight: 450;
text-align: center; 
margin-top:20px;
}

.temp{
    font-family: 'Yaldevi', sans-serif;
    font-weight: 450;
text-align: center; 
}